<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type='text/javascript'  src='/javascripts/bootstrap.min.js'></script>
</head>
<body>
	<h1>{{ message }}!</h1>
	<h2>{{ error.status }}</h2>
	<pre>{{ error.stack }}</pre>
</body>
</html>
