{{>header}}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{title}}</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{subTitle}}</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Задание</h2>
          <p>Использовать node.js, express.js, <a href="http://socket.io" target="_blank">socket.io</a>. Можно использовать аналоги.</p>
          <hr>
          <p>Во фронтэнде изначально одна кнопка «Начать прием купюр», по ее нажатию установить соединение через сокет с серверной частью на node.js, присваиваем идентификатор подключению. Пользователю пишем, что успешно установили соединение и показываем число 0.</p>
          <hr>
          <p>Серверная часть по активизации сокета начинает принимать подключения через REST API (express.js). При каждом вызове указывается идентификатор подключения socket.id. В API всего две функции:</p>
          <hr>
          <ol>
            <li>/bill_accepted/{socket.id}/{value}<br />value – integer<br />При внешнем вызове этого метода необходимо увеличить счетчик на значение подключенного по сокету пользователя. Если счетчик становится отличным от 0 нужно вывести кнопку «Зачислить».</li>
            <li>/bill_declined/{socket.id}<br />При внешнем вызове этого метода необходимо вывести пользователю, подключенному через сокет, сообщение об ошибке распознавания банкноты.</li>
          </ol>
        </div>
        <div class="col-md-3">
          <h2>Прием купюр</h2>
          <p id="ctrlPanel"><a id="connect" class="btn btn-default" href="#" role="button">Начать прием купюр</a></p>
       </div>
        <div class="col-md-5">
          <h2>Вывод</h2>
          <p id="log"></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 СМ-Клиника</p>
      </footer>
    </div> <!-- /container -->
{{>footer}}
